// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

// * {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
//   text-decoration: none;
//   box-sizing: border-box;
// }

// ol,
// ul,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin-bottom: 0;
// }
// .ant-pagination-options {
//   display: none;
// }
// .ant-statistic {
//   font-size: inherit;
//   color: inherit;
//   font-family: inherit;
//   font-weight: inherit;
//   font-style: inherit;
//   font-variant: inherit;
//   &-content {
//     font-size: inherit;
//     color: inherit;
//     font-family: inherit;
//     font-weight: inherit;
//     font-style: inherit;
//     font-variant: inherit;
//   }
// }

// .p8-32 {
//   padding: 8px 32px;
// }

// .header {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   background: #001529;
//   font-family: "Source Sans Pro", sans-serif;

//   ul a {
//     color: white;
//     margin: 0 4px;
//     padding: 8px;

//     span {
//       margin-right: 8px;
//     }
//   }

//   .active {
//     background: #1890ff;
//   }

//   h3 {
//     color: white;
//     cursor: pointer;
//   }
// }
// .nodata-anim {
//   h4 {
//     font-size: 20px;
//     font-weight: 400;
//     margin-top: -64px;
//     text-align: center;
//   }
// }
// .ant-modal-root {
//   .flex {
//     gap: 8px;
//     display: flex;
//   }
// }

// @mixin white-gradient {
//   background: linear-gradient(
//     to right,
//     rgba(255, 255, 255, 1) 0%,
//     rgba(255, 255, 255, 0) 100%
//   );
// }
// // Animation
// @keyframes scroll {
//   0% {
//     transform: translateX(0);
//   }
//   50% {
//     transform: translateX(calc(-300px * 4 + 64px));
//   }
//   100% {
//     transform: translateX(0);
//   }
// }
// @keyframes scrolright {
//   0% {
//     transform: translateX(calc(-300px * 4 + 64px));
//   }
//   50% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(calc(-300px * 4 + 64px));
//   }
// }
// .slider {
//   margin: 64px 0;
//   overflow: hidden;
//   position: relative;
//   &::before,
//   &::after {
//     @include white-gradient;
//     content: "";
//     height: 276px;
//     position: absolute;
//     width: 200px;
//     z-index: 2;
//   }
//   &::after {
//     bottom: 0;
//     right: 0;
//     transform: rotateZ(180deg);
//   }
//   &::before {
//     left: 0;
//     bottom: 0;
//   }
//   .slide-track {
//     gap: 16px;
//     display: flex;
//     margin-top: 36px;
//     width: calc(300px * 8 + 112px);
//     animation: scroll 200s linear infinite;
//   }
//   .slide-track-right {
//     animation: scrolright 200s linear infinite;
//   }

//   .slide {
//     width: 300px;
//     height: 120px;
//     border-radius: 8px;
//     background: #edf1fe;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     img {
//       width: 60%;
//       height: 60%;
//       object-fit: contain;
//       filter: grayscale(100%);
//     }
//   }
// }

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/font/bebas.woff");
}

// Some initial values
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
}
p {
  margin-bottom: 0;
}

// Color variables------------------------------------------------------
$main: #444bd3;
$white: #ffffff;
$black: #121127;
$text: rgba(18, 17, 39, 0.7);
$gray: rgba(255, 255, 255, 0.56);
// Color variables------------------------------------------------------

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1300px) {
  .container {
    max-width: 90%;
  }
}

button {
  transition: 0.3s ease-in-out;
  &:active {
    transform: scale(0.98);
  }
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slider {
  .slide-track {
    gap: 16px;
    display: flex;
    margin-top: 16px;
  }
  .slide {
    flex-grow: 1;
    width: 300px;
    height: 120px;
    border-radius: 8px;
    background: #edf1fe;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 60%;
      height: 60%;
      object-fit: contain;
      filter: grayscale(100%);
    }
  }
}

// Logo
.logo {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 48px;
    height: 48px;
  }
  span {
    width: 266px;
    font-size: 18px;
    color: #061237;
    text-align: left;
    font-weight: 600;
    line-height: 24px;
    font-family: "Bebas Neue";
  }
}

// Header
.header {
  padding: 24px;
  &__nav {
    gap: 32px;
    display: flex;
    align-items: center;
    transition: 0.3s ease;

    a {
      font-weight: 600;
      font-size: 16px;
      line-height: 180%;
      color: #061237;
    }
  }
  .flex {
    & > button {
      z-index: 4;
      border: none;
      display: none;
      background-color: transparent;
    }
    .close svg path {
      transition: all 0.3s;
      &:nth-child(1) {
        transform: rotate(45deg) translate(7px, -10px);
      }
      &:nth-child(2) {
        transform: rotate(-45deg) translate(-16px, 2px);
      }
    }
  }
}

// Footer
.footer {
  padding: 64px 0 32px;
  background: #061237;
  .logo {
    justify-content: flex-start;
    span {
      color: #ffffff;
      letter-spacing: 1.1px;
      width: 309px;
    }
  }

  &__nav {
    gap: 72px;
    display: flex;
    padding-bottom: 16px;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid #1a294c;
  }
  &__info {
    .info {
      color: white;
      margin-top: 12px;
      opacity: 1;
    }
    .flex {
      gap: 24px;
      margin-top: 32px;
      justify-content: flex-start;
    }
  }
  &__links {
    width: 250px;
    flex-shrink: 0;
    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #ffffff;
      margin-bottom: 24px;
    }
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #b2b2b2;
      margin-top: 12px;
      display: block;
    }
  }
  &__socials {
    width: 250px;
    flex-shrink: 0;
    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #ffffff;
      margin-bottom: 24px;
    }
    .social {
      display: flex;
      align-items: center;
      margin-top: 12px;
      gap: 8px;
      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        display: block;
      }
    }
  }
  &__contact {
    width: 200px;
    flex-shrink: 0;
    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #ffffff;
      margin-bottom: 24px;
    }
    .contact {
      display: flex;
      align-items: center;
      margin-top: 12px;
      gap: 8px;
      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #b2b2b2;
        display: block;
      }
    }
  }
  .container > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 16px;
  }
}

.language {
  gap: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;

  span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #061237;
  }
}
.section_title {
  font-size: 56px;
  font-weight: 700;
  color: #000000;
  line-height: 120%;
  font-family: "Bebas Neue";
}
.slick-dots li.slick-active button:before {
  font-size: 10px;
  color: #1677ff;
}
.slick-dots li button:before {
  font-size: 8px;
  color: #1677ff;
}
.topcaraousel {
  .slick-dots li button:before {
    display: none;
  }
}
.user {
  outline: none;
  padding: 0 16px;
  margin-bottom: 24px;
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
  }
  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin: 24px 0 16px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  &-slider {
    margin-top: 24px;
  }
}
.documents {
  margin-bottom: 64px;
  &_box {
    gap: 24px;
    display: flex;
    margin-top: 48px;
    align-items: center;
    margin-bottom: 72px;
  }
  &_item {
    margin: auto;
    width: 94% !important;
    padding: 32px;
    border-radius: 8px;
    background: #edf1fe;
    display: block !important;
    img {
      width: 80%;
      display: block;
      border-radius: 8px;
      margin: auto;
    }
    a {
      display: block;
      font-size: 16px;
      font-weight: 500;
      color: #000000;
      line-height: 24px;
      margin: 24px 0 16px;
      text-decoration: underline;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
    }
  }
}

.home {
  overflow-x: hidden;
  .container > h1 {
    margin-top: 56px;
    font-size: 48px;
    font-weight: 700;
    color: #061237;
    font-family: "Bebas Neue";
  }
  &__card {
    display: flex !important;
    margin: 64px 0;
    overflow: hidden;
    border-radius: 16px;
    background-color: #061237;
    height: 600px !important;
    & > div {
      padding: 64px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-weight: 600;
        font-size: 32px;
        color: #ffffff;
        line-height: 48px;
        font-style: normal;
      }

      p {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        line-height: 32px;
        margin: 24px 0;
      }

      button {
        cursor: pointer;
        border: none;
        padding: 16px 32px;
        background: #1455fe;
        border-radius: 4px;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
    img {
      width: 500px;
      height: 100%;
      object-fit: cover;
    }
  }
  &__mission {
    margin: 64px 0;
    p {
      margin-top: 16px;
      font-size: 20px;
      font-weight: 400;
      color: #000000;
      line-height: 130%;
      // text-align: justify;
    }
  }
  &__directions {
    padding: 64px 0;
    background: #eef1fe;
    .container {
      & > h2 {
        font-size: 24px;
        font-weight: 600;
        color: #000000;
        line-height: 32px;
        margin-bottom: 24px;
      }
      & > .flex {
        gap: 36px;
        align-items: initial;
      }
    }
    &-left {
      width: 500px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;

      div {
        gap: 16px;
        display: flex;
        cursor: pointer;
        align-items: center;
        padding: 12px 24px;
        background: white;
        border-radius: 8px;
        transition: 1s ease-in-out;
        border-left: 4px solid transparent;

        span {
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: #808080;
        }
      }
    }
    &-right {
      padding: 24px;
      background: white;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        font-weight: 700;
        font-size: 28px;
        color: #3395ff;
        text-transform: uppercase;
        transition: 1s ease;
      }
      p {
        font-weight: 600;
        font-size: 20px;
        margin: 16px 0 24px;
        transition: 1s ease;
        flex-grow: 1;
      }
      button {
        place-self: flex-end;
      }
    }
  }
  &__ministr {
    margin-top: 36px;
    & > div {
      padding: 28px;
      margin: 36px 0;
      border-radius: 12px;
      background: #edf1fe;

      p {
        font-size: 16px;
        font-weight: 400;
        color: #181818;
        line-height: 24px;
        margin-bottom: 24px;
      }

      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
      }
      h4 {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #181818;
      }
    }
  }
  &__email {
    gap: 24px;
    flex-wrap: wrap;
    margin: 48px 0;
    padding: 64px;
    background: #061237;
    /* Shadow content */

    box-shadow: 0px 0px 50px rgba(51, 52, 67, 0.12),
      0px 0px 18px rgba(51, 52, 67, 0.2);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    display: none;

    h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      display: flex;
      align-items: center;
      color: #ffffff;
      width: 320px;
      flex-shrink: 0;
      font-family: "Bebas Neue";
    }
    & > div {
      width: 400px;

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
      }

      .email {
        margin-top: 24px;
        position: relative;

        input {
          width: 100%;
          padding: 16px;
          border-radius: 8px;
          border: none;
        }

        button {
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: #ffffff;
          background: #1455fe;
          border-radius: 4px;
          border: none;
          padding: 8px 16px;
        }
      }
    }
  }
  &__feedback {
    padding: 64px 0;
    // background-color: #eef1fe;
    .feedback {
      padding: 32px 64px;
      margin: 48px auto;
      border-radius: 8px;
      text-align: center;
      background: #061237;
      box-shadow: 0px 0px 50px rgba(51, 52, 67, 0.12),
        0px 0px 18px rgba(51, 52, 67, 0.2);

      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: #ffffff;
        font-family: "Bebas Neue";
        text-align: center;
        // margin-bottom: 24px;
      }
      p {
        color: white;
        margin: 8px 0 24px;
      }
      .ant-form {
        &-item {
          flex-grow: 1;
          .ant-input {
            border-radius: 4px !important;
            &::placeholder {
              color: #06123770;
            }
          }
        }
        & > .flex {
          gap: 24px;
          & > div {
            gap: 8px;
            width: 100%;
            &:nth-child(1) {
              width: 60% !important;
            }
          }
        }
      }
    }
    .ant-form-item-explain-error {
      text-align: initial;
    }
  }
  &-news {
    margin: 64px 0;
    .section_title {
      margin-bottom: 32px;
    }
    &-content {
      display: flex;
      gap: 24px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        &:hover {
          transform: scale(1.09);
        }
      }
      &-box {
        width: 100%;
        height: 100%;
        padding: 24px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        color: white;
        border-radius: 8px;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 1.72%,
          rgba(0, 0, 0, 0.76) 100%
        );
        cursor: pointer;

        position: absolute;
        top: 0;
        left: 0;

        &-wrap {
          width: calc(100% - 48px);
          position: absolute;
          bottom: -40px;
          transition: 0.5s;
        }

        &-footer {
          background: white;
          display: inline-flex;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
          border-radius: 8px;
          padding: 6px 8px;
          align-items: end;
          gap: 6px;
          margin-top: 18px;
        }
      }
      &-left {
        border-radius: 8px;
        height: 600px;
        position: relative;
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        transition: 0.3s;
        overflow: hidden;

        &:hover {
          img {
            transform: scale(1.09);
          }
          .home-news-content-box-wrap {
            bottom: 24px;
          }
        }
      }
      &-right {
        width: 416px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        &-card {
          overflow: hidden;
          position: relative;
          height: calc(300px - 12px);
          border-radius: 8px;
          .home-news-content-box {
            &-header {
              font-weight: 500;
              font-size: 22px;
              line-height: 28px;
            }
          }
          &:hover {
            img {
              transform: scale(1.09);
            }
            .home-news-content-box-wrap {
              bottom: 24px;
            }
          }
        }
      }
    }
    &-link {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--text-1);
      padding: 12px 16px;

      display: flex;
      align-items: center;
      border: 1px solid #e5eaef;
      border-radius: 3px;
      margin-top: 48px;
      gap: 15px;
      cursor: pointer;
      transition: 0.3s;
      svg {
        transition: 0.3s;
      }
      &:hover {
        color: var(--main);
        border-color: var(--main);
        svg {
          stroke: var(--main);
        }
      }
    }
    &-carousel {
      display: none;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        &:hover {
          transform: scale(1.09);
        }
      }
      .home-news-content-right-card {
        width: 100%;
        height: 300px;
      }
    }
    .slick-dots li button:before {
      display: none;
    }
  }
}
.aboutpage {
  .section_title {
    margin-top: 48px;
  }
  &__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #373737;
    margin: 36px 0;
  }
  &__item {
    gap: 64px;
    display: flex;
    padding: 32px;
    border-radius: 8px;
    background: #edf1fe;
    &:not(:first-child) {
      margin-top: 32px;
    }
    .left {
      h2 {
        font-weight: 600;
        font-size: 32px;
        color: #000000;
      }
      h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        color: #000000;
        padding: 24px 0 48px;
      }
      span {
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 16px;
      }
      p {
        width: 60%;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
      }
    }
    .right {
      h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
      img {
        width: 300px;
        height: 240px;
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }
}
.blog {
  .section_title {
    margin: 16px 0 48px;
  }
  &__new {
    gap: 24px;
    display: flex;
    margin-bottom: 48px;

    .left {
      position: relative;
      img {
        width: 500px;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
      }
      .flex {
        gap: 8px;
        top: 24px;
        left: 24px;
        padding: 6px;
        position: absolute;
        background: white;
        border-radius: 8px;
      }
      .hashteg {
        position: absolute;
        bottom: 16px;
        left: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #ffffff;
      }
      span {
        color: #000000;
      }
    }
    .right {
      gap: 16px;
      display: flex;
      flex-direction: column;
      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #000000;
        flex-grow: 1;
      }
      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #1677ff;
        margin-bottom: 16px;
      }
    }
  }
}
.blogpage {
  max-width: 800px !important;
  .section_title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    margin: 24px 0 32px;
  }
  img {
    width: 100%;
    // height: 500px;
    // object-fit: cover;
  }
  p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #181818;
  }
  .flex {
    margin: 24px 0 64px;
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #1677ff;
    }
  }
  .image {
    .ant-skeleton {
      width: 100%;
      height: 280px;
      &-image {
        width: 100%;
        height: 100%;
      }
    }
  }
  figure {
    img {
      width: 100% !important;
    }
  }
  table {
    p {
      margin-top: 0;
    }
  }
}

@media (max-width: 1080px) {
  .header {
    &__nav {
      top: 0;
      left: -120%;
      z-index: 3;
      width: 100vw;
      height: 100vh;
      display: flex;
      position: absolute;
      background: rgb(238 241 254 / 96%);
      flex-direction: column;
      justify-content: center;
      a {
        font-size: 20px;
      }
    }
    .flex > button {
      display: block;
    }
    &__mobile {
      left: 0;
    }
    .lang_mob {
      gap: 16px;
      .ant-dropdown-trigger {
        z-index: 5;
      }
    }
  }
  .footer {
    &__nav {
      flex-wrap: wrap;
    }
  }
  .home {
    &__card {
      flex-direction: column-reverse;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    &__directions {
      .container .flex {
        flex-direction: column-reverse;
      }
      &-left {
        width: 100%;
      }
    }
    &__partners {
      .flex div {
        flex-basis: 40%;
      }
    }
    &-news {
      &-content {
        &-left {
          height: 404px;
        }
        &-right {
          width: 300px;
          &-card {
            height: 190px;
          }
        }
      }
    }
  }
  .aboutpage {
    &__item {
      .left {
        h2 {
          font-size: 24px;
        }
        h3 {
          font-size: 20px;
          line-height: 32px;
          padding: 16px 0 28px;
        }
        p {
          width: 90%;
        }
      }
      .right {
        img {
          width: 240px;
        }
      }
    }
  }
  .blog {
    .left {
      img {
        width: 360px;
        height: 240px;
      }
    }
  }
}

@media (max-width: 780px) {
  .home {
    .container {
      & > h1 {
        font-size: 28px;
      }
    }
    &__card {
      img {
        height: 300px;
      }
      & > div {
        padding: 24px;
      }
    }
    &__email {
      justify-content: center;
      h2 {
        font-size: 36px;
        line-height: 43px;
        text-align: center;
      }
    }
    &-news {
      &-content {
        flex-direction: column;
        &-box {
          padding: 18px;
          &-footer {
            font-size: 14px;
            line-height: 20px;
            align-items: center;
            svg {
              width: 14px;
              height: 14px;
            }
          }
        }
        &-left {
          height: 350px;
          font-size: 22px;
          line-height: 28px;
        }
        &-right {
          width: 100%;
          gap: 24px;
          flex-direction: row;
          &-card {
            width: calc(100% - 24px);
            .home-news-content-box-header {
              font-size: 18px;
              line-height: 24px;
            }
          }
        }
      }
    }
    &__feedback {
      .feedback {
        width: 90%;
        .ant-form {
          & > .flex {
            gap: 0;
            flex-direction: column;
            & > div {
              width: 100%;
              &:nth-child(1) {
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
  .aboutpage {
    &__item {
      gap: 24px;
      flex-direction: column;
    }
  }
  .documents {
    &_box {
      flex-direction: column;
    }
    &_item {
      width: 100%;
    }
  }
  .blog {
    &__new {
      flex-direction: column;
    }
    .left {
      img {
        width: 100%;
      }
    }
  }
  .blogpage {
    max-width: 90% !important;
  }
  .slider {
    .slide-track {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 600px) {
  .logo {
    gap: 8px;
  }
  .header {
    .container {
      max-width: 100%;
    }
  }
  .section_title {
    font-size: 36px !important;
    line-height: 48px !important;
  }
  .home {
    .container > h1 {
      font-size: 24px;
      margin-top: 28px;
    }

    &__card {
      & > div h2 {
        font-size: 24px;
        color: #ffffff;
        line-height: 32px;
      }
      height: auto !important;
    }
    &__directions {
      &-right {
        h2 {
          font-weight: 600;
          font-size: 22px;
        }
      }
    }
    &__partners {
      .flex div {
        flex-basis: 100%;
      }
    }
    &__ministr {
      img {
        display: none;
      }
    }
    &__email {
      padding: 24px;
      h2 {
        font-size: 24px;
        line-height: 32px;
      }
    }
    &-news {
      &-content {
        display: none;
      }
      &-carousel {
        display: block;
      }
    }
    .slider {
      .slide-track-right {
        display: none;
      }
    }
  }
  .aboutpage {
    &__item {
      .right {
        img {
          width: 100%;
          height: 240px;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
  }
  .user {
    img {
      height: 280px;
    }
  }
  .blog {
    .right {
      h2 {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
      }
    }
    .left {
      .flex {
        top: 12px;
        left: 12px;
      }
    }
    .section_title {
      margin: 24px 0;
    }
  }
  .blogpage {
    .section_title {
      margin: 32px 0 24px;
    }
  }
  .development {
    .nodata-anim {
      margin: auto;
      width: 90% !important;
      & > div {
        width: 100% !important;
        height: 320px !important;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    .logo {
      span {
        display: none;
      }
    }
  }
  .home__partners .flex {
    margin-top: 36px;
  }
  .home {
    &__feedback {
      .feedback {
        width: 96%;
        padding: 16px;
        h2 {
          font-size: 32px;
          line-height: 44px;
        }
      }
    }
  }
}
