@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
.ant-pagination-options {
  display: none;
}
.ant-statistic {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  &-content {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
  }
}

.p8-32 {
  padding: 8px 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #001529;
  font-family: "Source Sans Pro", sans-serif;

  ul a {
    color: white;
    margin: 0 4px;
    padding: 8px;

    span {
      margin-right: 8px;
    }
  }

  .active {
    background: #1890ff;
  }

  h3 {
    color: white;
    cursor: pointer;
  }
}
.nodata-anim {
  h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: -64px;
    text-align: center;
  }
}
.ant-modal-root {
  .flex {
    gap: 8px;
    display: flex;
  }
}
