.home {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  // Header
  &__header {
    height: 56px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white !important;
  }
  &__sidebar {
    width: 256px;
    .adminlogo {
      padding: 12px 16px;
    }
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
    }
    .logout_menu {
      flex-grow: 1;
      display: flex;
      align-items: end;
      margin-bottom: 24px;
    }
  }
  &__content {
    padding: 24px;
    height: calc(100vh - 56px);
    overflow-y: scroll;
    width: 100%;
  }
  &__body {
    width: 100%;
    flex-grow: 1;
    background-color: #f5f7fa;
  }
  .slick-dots-bottom {
    bottom: 76px;
  }
  // Pages
  .yangi {
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
    }
  }
}
.langItem {
  display: flex;
  gap: 6px;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #000000;
}
.info {
  padding: 24px 0 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #12141d;
  opacity: 0.8;
  span {
    color: #fa6444;
    font-weight: 600;
  }
}

// -------------------------------------
.sidebar {
  height: 100vh;
  flex-shrink: 0;
  width: 280px;
  background-color: #303366;

  &__tabs {
    padding: 12px;
  }
  &__tab {
    cursor: pointer;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: 0.3s ease-in-out;
    &:not(:first-child) {
      margin-top: 4px;
    }
    svg {
      flex-shrink: 0;
      path,
      circle,
      rect {
        transition: 0.3s ease-in-out;
      }
    }
    h2 {
      color: var(--content-inverse, #fff);
      /* Label/Regular/Secondary */
      font-size: 14px;
      font-weight: 400;
      line-height: 16px; /* 114.286% */
      letter-spacing: 0.24px;
      flex-grow: 1;
    }

    &:hover {
      background-color: #24264e;
      border-radius: 8px;
    }
  }
  &__tab-active {
    background-color: #24264e;
    border-radius: 8px;
  }
  &__tab-active-1 {
    svg {
      path,
      rect {
        stroke: #a078e5;
      }
    }
  }
  &__tab-active-2 {
    svg {
      path {
        fill: #a078e5;
      }
    }
  }
  &__tab-active-3 {
    svg {
      path {
        fill: #a078e5;
      }
    }
  }
  &__tab-active-5 {
    svg {
      path,
      circle {
        stroke: #a078e5;
      }
    }
  }
  &__tab-active-6 {
    svg {
      path {
        stroke: #a078e5;
      }
    }
  }
  &__1 {
    &:hover {
      svg {
        path,
        rect {
          stroke: #a078e5;
        }
      }
    }
  }
  &__2 {
    &:hover {
      svg {
        path {
          fill: #a078e5;
        }
      }
    }
  }
  &__3 {
    &:hover {
      svg {
        path {
          fill: #a078e5;
        }
      }
    }
  }
  &__5 {
    &:hover {
      svg {
        path,
        circle {
          stroke: #a078e5;
        }
      }
    }
  }
  &__6 {
    &:hover {
      svg {
        path {
          stroke: #a078e5;
        }
      }
    }
  }
  .adminlogo {
    padding: 12px 24px;
  }
}
.tables {
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin-bottom: 24px;
  }
  &__cards {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    // align-items: flex-start;
  }
  & > .flex {
    align-items: flex-start;
  }
  .ant-table-cell {
    vertical-align: top;
  }
}
.card {
  padding: 20px;
  border-radius: 16px;
  background-color: white;
  width: calc(50% - 12px);

  &__header {
    gap: 16px;
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px; /* 125% */
    }
    button {
      flex-shrink: 0;
    }
  }
  &__body {
    .flex {
      gap: 48px;
      &:not(:first-child) {
        margin-top: 8px;
      }
      h3 {
        color: var(--content-secondary, #606163);
        font-size: 14px;
        font-weight: 400;
        line-height: 16px; /* 114.286% */
        letter-spacing: 0.24px;
      }
      b {
        flex-shrink: 0;
        color: var(--content-primary, #202122);
        font-size: 14px;
        font-weight: 500;
        line-height: 16px; /* 114.286% */
        letter-spacing: 0.24px;
      }
    }
  }
  &__big {
    width: 100%;

    .card__body .flex {
      flex-direction: column;
      gap: 4px;
      align-items: flex-start;

      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }
}
.loading {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
